body {
    font-family: roboto, sanserif;
}

.navbar {
    background-color: #9cb8d8;
}

#cabecalho .nav .nav-link.active,
.nav-lutas .nav-link.active:hover {
    background-color: #ed6464;
    color: #063376;
}

cabecalho .nav .nav-link, 
.navbar-brand, 
.navbar-brand:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #ed6464;
}

#sobre-o-club {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dadff3;
}

#espaco-fights {
    background-color: #dadff3;
}

#carousel {
    width: 70%;
}

.section-title {
    font-family: Allan, cursive;
}

.text-colored {
    color: #ed6464;
}

.nav-lutas .nav-link.active,
#fale-conosco button {
    background-color: #ed6464;
    color: #063376;
}

.nav-lutas .nav-link:hover {
    color: #ed6464;
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}